<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roger.mybatis.mapper.UserMapper">
	
	<insert id="save" >
		insert into s_user(user_name,user_birthday,user_salary) values(#{name},#{birthday},#{salary})
	</insert>
	<update id="update">
		update s_user set user_name = #{name},user_birthday = #{birthday},user_salary = #{salary} where id = #{id}
	</update>
	<delete id="deleteById">
		delete from s_user where id = #{id}
	</delete>
	
	<select id="getById">
		select user_id id,user_name name,user_birthday birthday,user_salary salary from s_user where id = #{id}
	</select>
	
	<select id="findAll">
		select user_id id,user_name name,user_birthday birthday,user_salary salary from s_user
	</select>
	
</mapper>